*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


.App {
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   border:5px solid red ;
   width: 40px;
   height: 100px;
}


