@font-face {
  font-family: 'Rick and Morty';
  src: url('./assets/get_schwifty.ttf'); /* la ruta a la fuente descargada */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-size: cover;
  background-position:center;*/
  box-sizing: border-box;
  font-family: 'Rick and Morty', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
