.content_search{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .link{
    color: aliceblue;
    text-decoration: none;
    border-radius: 5px;
    background: black;
    padding: 5px;
 }